[submodule "osu-framework"]
	path = osu-framework
	url = https://github.com/ppy/osu-framework
[submodule "osu-framework.wiki"]
	path = osu-framework.wiki
	url = https://github.com/ppy/osu-framework.wiki.git
